.technology {
  cursor: pointer;
  width: 100%;
  // height: 150px;
  a {
    display: block;
  }
  img {
    display: block;
    margin: auto auto;
  }
  //   border: 1px solid rgb(107, 107, 107);
}
